# Node
node_modules/
npm-debug.log*

# Build output
dist/

# Environment files
.env
.env.*
!.env.example

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json

# Misc
*.log

# Local Kubernetes secrets
k8s/secret.yaml
